<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}" p:username="${jdbc.username}"
          p:password="${jdbc.password}">
        <property name="validationQuery">
            <value>SELECT 1</value>
        </property>
        <property name="testOnBorrow">
            <value>true</value>
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>mapping/user/User.xml</value>
                <value>mapping/user/Role.xml</value>
                <value>mapping/user/Menu.xml</value>
                <value>mapping/user/Permission.xml</value>
                <value>mapping/user/PermissionItem.xml</value>
                <value>mapping/user/RolePermission.xml</value>
                <value>mapping/user/UserRole.xml</value>
                <value>mapping/log/Log.xml</value>
                <value>mapping/PayPlatformConfig.xml</value>
                <value>mapping/Merchant.xml</value>
                <value>mapping/MerchantApp.xml</value>
                <value>mapping/MerchantSelectablePayMode.xml</value>
                <value>mapping/MerchantAppPayMode.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.show_sql=${hibernate.show_sql}
                hibernate.query.substitutions=${hibernate.query.substitutions}
                hibernate.hbm2ddl.auto=${hibernate.hbm2ddl.auto}
            </value>
        </property>
    </bean>

    <bean id="userDao" class="cn.mixpay.admin.dao.impl.user.UserDaoImpl"/>
    <bean id="roleDao" class="cn.mixpay.admin.dao.impl.user.RoleDaoImpl"/>
    <bean id="menuDao" class="cn.mixpay.admin.dao.impl.user.MenuDaoImpl"/>
    <bean id="permissionDao" class="cn.mixpay.admin.dao.impl.user.PermissionDaoImpl"/>
    <bean id="permissionItemDao" class="cn.mixpay.admin.dao.impl.user.PermissionItemDaoImpl"/>
    <bean id="rolePermissionDao" class="cn.mixpay.admin.dao.impl.user.RolePermissionDaoImpl"/>
    <bean id="userRoleDao" class="cn.mixpay.admin.dao.impl.user.UserRoleDaoImpl"/>
    <bean id="logDao" class="cn.mixpay.admin.dao.impl.log.LogDaoImpl"/>

    <bean id="payPlatformConfigDao" class="cn.mixpay.admin.dao.impl.business.PayPlatformConfigDaoImpl"/>
    <bean id="merchantDao" class="cn.mixpay.admin.dao.impl.merchant.MerchantDaoImpl"/>
    <bean id="merchantAppDao" class="cn.mixpay.admin.dao.impl.merchant.MerchantAppDaoImpl"/>
    <bean id="merchantSelectablePayModeDao" class="cn.mixpay.admin.dao.impl.merchant.MerchantSelectablePayModeDaoImpl"/>
    <bean id="merchantAppPayModeDao" class="cn.mixpay.admin.dao.impl.merchant.MerchantAppPayModeDaoImpl"/>

</beans>
